<p id="notice"><%= notice %></p>

<h1>Listing Zip Codes</h1>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Zip</th>
      <th>City</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @zip_codes.each do |zip_code| %>
      <tr>
        <td><%= zip_code.zip %></td>
        <td><%= @city.city_name %></td>
        <td><%= link_to 'Add Salon', new_city_zip_code_salon_path(@city, zip_code) %></td>
        <td><%= link_to 'View Salons', city_zip_code_salons_path(@city, zip_code) %></td>
        <td><%= link_to 'Show', city_zip_code_path(@city, zip_code) %></td>
        <td><%= link_to 'Edit', edit_city_zip_code_path(@city, zip_code) %></td>
        <td><%= link_to 'Destroy', [@city, zip_code], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zip code', new_city_zip_code_path(@city), class: "btn btn-default" %>
