<!-- <link href="vendor/device-mockups/device-mockups.min.css" rel="stylesheet" type="text/css"> -->

<!-- NOTE: Use the .modern or .vintage class to the body element below to see different font pairings! -->

<script>
  new WOW().init();
</script>

<body id="page-top" class="index">

    <!-- Navigation -->
    <!-- NOTE: .navbar-default and .navbar-inverse are both supported with this theme. -->
    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse" id="toggleNavButton">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars fa-2x"></i>
                </button>
                <a class="navbar-brand page-scroll hidden-xs hidden-sm" href="#page-top">
                    <span><b>Burke</b> <i class="fa fa-home"></i> <b>Building &amp; Remodeling</b></span>
                </a>
                <a class="navbar-brand page-scroll visable-xs visable-sm hidden-md hidden-lg" href="#page-top">
                    <span><b>Burke</b> <i class="fa fa-home"></i> <b>Building &amp;<br />Remodeling</b></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#process">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#work">Designs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#visualizer">Visualizer</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>  
        </div>
    </nav>
<br /><br />
    <!-- Header -->
    <div class="demo-header">
        <div class="demo-header-content">
            <div class="container"><br><br>
                <ul class="list-inline cta-list">
                    <li>
                        <a href="#contact" class="btn btn-lg btn-huge btn-outline-light page-scroll">Phone Consultation</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- About Section -->
    <section id="about">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h1>Services</h1>
                    <hr class="colored">
                </div>
            </div>
            <div class="row text-center content-row">
                <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                    <div class="about-content">
                        <i class="fa fa-pencil fa-4x black"></i>
                        <h3>Desgin</h3>
                        <p>Each and every one our construction or remodeling projects is carefully designed and completed by our team of professionals. </p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                    <div class="about-content">
                        <i class="fa fa-home fa-4x"></i>
                        <h3>New Homes &amp; Additions</h3>
                        <p>Whether you are looking to build a custom home or add to your existing home, our team will provide you with ideas that fit your style and budget.</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                    <div class="about-content">
                        <i class="fa fa-wrench fa-4x"></i>
                        <h3>Renovation and Remodels</h3>
                        <p>Renovation and preservation projects are done with care and concern for architectural and structural integrity as well as beauty and function.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Quote Call to Action -->
    <aside class="cta-quote" style="">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote">We offer a <b>wide range</b> of remodeling services in the <b>Hollidaysburg area</b> as well as <b>custom construction</b> from the ground up.  Our team works <b>directly</b> with you to find the <b>best design</b> or solution for your home projects to <b>fit your budget.</b></span>
                    <hr class=" colored">
                    <a class="btn btn-primary btn-lg page-scroll" href="#work">Designs</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Services Section -->
    <section id="process" class="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h2>Our Mission</h2>
                    <hr class="colored">
                    <p>Why choose Burke Remodeling?</p>
                </div>
            </div>
            <div class="row content-row">
                <!-- Service Item 1 -->
                <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-tasks"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Long-Term Focus</h3>
                            <ul>
                                <li>Highest Quality</li>
                                <li>Focus on Convenience</li>
                                <li>Your Needs First</li>
                                <li>We Value Relationships</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Service Item 2 -->
                <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Our Team</h3>
                            <ul>
                                <li>Years of Experience</li>
                                <li>Highly Skilled</li>
                                <li>Passion for Excellence</li>
                                <li>Licensed &amp; Insured</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Service Item 3 -->
                <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-handshake-o"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Our Promise</h3>
                            <ul>
                                <li>Real Partnership with You</li>
                                <li>Work Completed on Time</li>
                                <li>Responsive Service</li>
                                <li>Reasonable Pricing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Carousel Heading -->
    <section id="work" class="bg-gray">
        <div class="container text-center wow fadeIn">
            <h2>Designs</h2>
            <hr class="colored">
            <p>We work on a variety of project types for our clients.</p>
        </div>
    </section>

    <!-- Portfolio Carousel -->
    <section class="portfolio-carousel wow fadeIn">
        <!-- NOTE: You can add more items to the carousel, or remove items you don't need! -->
        <!-- Carousel Item 2 -->
        <div class="item bg-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-md-push-7 col-xs-12">
                        <div class="project-details">
                            <span class="project-name">Custom Home<br />Construction</span>
                            <hr class="colored">
                            <a href="#portfolioModal2" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel Item 3 -->
        <div class="item bg-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-md-push-7">
                        <div class="project-details">
                            <span class="project-name">Full Renovation</span>
                            <hr class="colored">
                            <a href="#portfolioModal3" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel Item 1 -->
        <div class="item bg-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-md-push-7">
                        <div class="project-details">
                            <span class="project-name">Bathrooms</span>
                            <hr class="colored">
                            <a href="#portfolioModal1" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel Item 1 -->
        <div class="item bg-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-md-push-7">
                        <div class="project-details">
                            <span class="project-name">Kitchens</span>
                            <hr class="colored">
                            <a href="#portfolioModal5" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel Item 4 -->
        <div class="item bg-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-md-push-7">
                        <div class="project-details">
                            <span class="project-name">Design</span>
                            <hr class="colored">
                            <a href="#portfolioModal4" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- Portfolio Grid Section -->
    <section class="hidden">
        <div class="container text-center wow fadeIn">
            <h2>Portfolio</h2>
            <hr class="colored">
            <p>Here are some other projects that we've worked on.</p>

            <div class="row content-row">
                <div class="col-lg-12">
                    <div class="portfolio-filter">
                        <ul id="filters" class="clearfix">
                            <li>
                                <span class="filter active" data-filter="all">All</span>
                            </li>
                            <li>
                                <span class="filter" data-filter=".identity">Identity</span>
                            </li>
                            <li>
                                <span class="filter" data-filter=".graphic">Graphic</span>
                            </li>
                            <li>
                                <span class="filter" data-filter=".web">Web</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="portfoliolist">
                        <!-- NOTE: You can add more items to the grid, or remove items you don't need! -->
                        <!-- Grid Item 1 -->
                        <div class="mix identity" href="<%= image_path("grid-1.jpg")  %>" title="Client Name">
                            <div class="portfolio-wrapper">
                                <%= image_tag "grid-1.jpg" %>
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Client Name</a>
                                        <span class="text-category">Brand Identity</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Grid Item 2 -->
                        <div class="mix web" href="<%= image_path("grid-2.jpg")  %>" title="Client Name">
                            <div class="portfolio-wrapper">
                                <%= image_tag "grid-2.jpg" %>
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Client Name</a>
                                        <span class="text-category">Web Development</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Grid Item 3 -->
                        <div class="mix web" href="<%= image_path("grid-3.jpg")  %>" title="Client Name">
                            <div class="portfolio-wrapper">
                                <%= image_tag "grid-3.jpg" %>
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Client Name</a>
                                        <span class="text-category">Web Development</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Grid Item 4 -->
                        <div class="mix identity" href="<%= image_path("grid-4.jpg")  %>" title="Client Name">
                            <div class="portfolio-wrapper">
                                <%= image_tag "grid-4.jpg" %>
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Client Name</a>
                                        <span class="text-category">Brand Identity</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Grid Item 5 -->
                        <div class="mix web" href="<%= image_path("grid-5.jpg")  %>" title="Client Name">
                            <div class="portfolio-wrapper">
                                <%= image_tag "grid-5.jpg" %>
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Client Name</a>
                                        <span class="text-category">Web Development</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Grid Item 6 -->
                        <div class="mix graphic" href="<%= image_path("grid-6.jpg")  %>" title="Client Name">
                            <div class="portfolio-wrapper">
                                <%= image_tag "grid-6.jpg" %>
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Client Name</a>
                                        <span class="text-category">Graphic Design</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Grid Item 7 -->
                        <div class="mix graphic" href="<%= image_path("grid-7.jpg")  %>" title="Client Name">
                            <div class="portfolio-wrapper">
                                <%= image_tag "grid-7.jpg" %>
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Client Name</a>
                                        <span class="text-category">Graphic Design</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Grid Item 8 -->
                        <div class="mix web" href="<%= image_path("grid-8.jpg")  %>" title="Client Name">
                            <div class="portfolio-wrapper">
                                <%= image_tag "grid-8.jpg" %>
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Client Name</a>
                                        <span class="text-category">Web Development</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Grid Item 9 -->
                        <div class="mix identity" href="<%= image_path("grid-9.jpg")  %>" title="Client Name">
                            <div class="portfolio-wrapper">
                                <%= image_tag "grid-9.jpg" %>
                                <div class="caption">
                                    <div class="caption-text">
                                        <a class="text-title">Client Name</a>
                                        <span class="text-category">Brand Identity</span>
                                    </div>
                                    <div class="caption-bg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- Portfolio Carousel Heading -->
    <section id="visualizer" class="">
        <div class="container text-center wow fadeIn">
            <h2>Visualizer</h2>
            <hr class="colored">
            <p>Upload a photo and build your exterior design ideas!</p>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#visualizeModal">Launch Visualizer</button>
        </div>
    </section>

    <!-- Portfolio Carousel -->
    <section class="wow fadeIn">
        <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <%= image_tag "house_drawing.jpeg", class: "img img-responsive", id: "visualImage" %>
        </div>
        </div>

    </section>


    <!-- Contact Section -->
    <section id="contact" class="bg-gray">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Free Phone Consultation</h2>
                    <hr class="colored">
                    <p>A member of our team would be glad to speak with you today to discuss your project.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-lg-8 col-lg-offset-2">
                <%= form_for @form_contact, :html => {:id => "contactForm", :name => "sentMessage", :novalidate => true}  do |f| %>
                          <% if @form_contact.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@form_contact.errors.count, "error") %> prohibited this form_contact from being saved:</h2>

                              <ul>
                              <% @form_contact.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <%= f.text_field :name, required: true, class: "form-control", placeholder: "Name", id: "name", "data-validation-required-message" => "Please enter your name" %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <%= f.text_field :email, required: false, type: "email", class: "form-control", placeholder: "Email Address", id: "email", "data-validation-required-message" => "Please enter your email address." %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <%= f.text_field :phone, required: true, type: "tel", class: "form-control", placeholder: "Phone Number", id: "phone", "data-validation-required-message" => "Please enter your phone number." %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Zip Code</label>
                                <%= f.text_field :zip_code, required: false, class: "form-control", placeholder: "Zip Code", id: "zip", "data-validation-required-message" => "Please enter your zip code." %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                 <%= f.text_area :message, required: false, rows: "5", class: "form-control", placeholder: "Message", id: "message", "data-validation-required-message" => "Please enter a message." %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 contact-details">
                    <h4 class="footer-text"><i class="fa fa-phone"></i> Call</h4>
                    <p class="footer-text">814-695-5240</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4 class="footer-text"><i class="fa fa-map-marker"></i> Visit</h4>
                    <p class="footer-text">306 Walnut Street
                        <br> Hollidaysburg, PA 16648</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4 class="footer-text"><i class="fa fa-envelope"></i> Email</h4>
                    <p class="footer-text"><a href="mailto:mail@example.com" class="footer-text">josh@burkeremodeling.com</a>
                    </p>
                </div>
            </div>
            <div class="row social">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-lg-12">
                    <p class="small footer-text">&copy; 2017 Burke Remodeling</p>
                    <p class="small footer-text">PA License # PA014136</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div id="visualizeModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Visualize Your Design!</h4>
          </div>
          <div class="modal-body">
            <div class="row content-row">
                <div class="col-lg-8 col-lg-offset-2">
                <%= form_for @form_contact, :html => {:id => "contactForm", :name => "sentMessage", :novalidate => true}  do |f| %>
                          <% if @form_contact.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@form_contact.errors.count, "error") %> prohibited this form_contact from being saved:</h2>

                              <ul>
                              <% @form_contact.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <%= f.text_field :name, required: true, class: "form-control", placeholder: "Name", id: "name", "data-validation-required-message" => "Please enter your name" %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <%= f.text_field :email, required: false, type: "email", class: "form-control", placeholder: "Email Address", id: "email", "data-validation-required-message" => "Please enter your email address." %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <%= f.text_field :phone, required: true, type: "tel", class: "form-control", placeholder: "Phone Number", id: "phone", "data-validation-required-message" => "Please enter your phone number." %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div><br />
                        <div class="text-right">
                            <button type="submit" href="http://burkeremodeling.pro.renoworks.com/" class="btn btn-default">Start Visualizer</button>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>

    <!-- Portfolio Modals -->
    <!-- Example Modal 1: Corresponds with Portfolio Carousel Item 1 -->
    <div id="portfolioModal1" class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 modal-text">
                            <h2>Bathroom Renovation</h2>
                            <hr class="colored">
                            <p><b class="text-spacing-7">Partner with us to create an ellegant bathroom layout to maximize the space you have available.  With complex plumbing challenges and old fixtures, a bathroom renovation can be tricky.  Allow our experienced team to create a space that will make you proud while taking care of all the details.</b></p>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Example Modal 2: Corresponds with Portfolio Carousel Item 2 -->
    <div id="portfolioModal2" class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 modal-text">
                            <h2>Custom Home Construction</h2>
                            <hr class="colored">
                            <p><b class="text-spacing-7">Building a custom home is a project that requires true partnership with your general contractor.  We handle the entire process from design all the way to handing you the keys!</b></p>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Example Modal 3: Corresponds with Portfolio Carousel Item 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 modal-text">
                            <h2>Full Renovation</h2>
                            <hr class="colored">
                            <p><b class="text-spacing-7">Did you just purchase a new house or are you looking to sell?  We can complete a renovation from planning to implementation while staying on schedule and on budget.</b></p>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Example Modal 4: Corresponds with Portfolio Carousel Item 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 modal-text">
                            <h2>Design</h2>
                            <hr class="colored">
                            <p>A good project begins with a good plan.  Our experienced in archeticural design allows us to set clear project goals before we begin to ensure that your project turns out the way you want.  By starting with a detail plan, we can help you map out project on paper then move quickly to implement the design.</p>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Example Modal 4: Corresponds with Portfolio Carousel Item 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 modal-text">
                            <h2>Kitchen Design</h2>
                            <hr class="colored">
                            <p>Your kitchen makes a statement about your home.  It must be designed for easy use while also projecting your home's personality.  Whether your kitchen is ready for a complete overhaul or simply looks dated, our team can help you create a kitchen you will love.</p>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<script type="text/javascript">
        (function($) {
    "use strict"; // Start of use strict

    // jQuery for page scrolling feature - requires jQuery Easing plugin
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: ($($anchor.attr('href')).offset().top - 50)
        }, 1250, 'easeInOutExpo');
        event.preventDefault();
    });

        // Highlight the top nav as scrolling occurs
    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 51
    });

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function(){ 
            $('.navbar-toggle:visible').click();
    });

    // Offset for Main Navigation
    $('#mainNav').affix({
        offset: {
            top: 10
        }
    })

})(jQuery); // End of use strict
    </script>

    

<script type="text/javascript">
    /*!
 * Vitality v1.4.0 (http://themes.startbootstrap.com/vitality-v1.4.0)
 * Copyright 2013-2016 Start Bootstrap Themes
 * To use this theme you must have a license purchased at WrapBootstrap (https://wrapbootstrap.com)
 */

// Load WOW.js on non-touch devices
var isPhoneDevice = "ontouchstart" in document.documentElement;
$(document).ready(function() {
    if (isPhoneDevice) {
        //mobile
    } else {
        //desktop               
        // Initialize WOW.js
        wow = new WOW({
            offset: 50
        })
        wow.init();
    }
});

(function($) {
    "use strict"; // Start of use strict

    // Activates floating label headings for the contact form.
    $("body").on("input propertychange", ".floating-label-form-group", function(e) {
        $(this).toggleClass("floating-label-form-group-with-value", !!$(e.target).val());
    }).on("focus", ".floating-label-form-group", function() {
        $(this).addClass("floating-label-form-group-with-focus");
    }).on("blur", ".floating-label-form-group", function() {
        $(this).removeClass("floating-label-form-group-with-focus");
    });

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function() {
        $('.navbar-toggle:visible').click();
    });

    // Owl Carousel Settings
    $(".about-carousel").owlCarousel({
        items: 3,
        navigation: true,
        pagination: false,
        navigationText: [
            "<i class='fa fa-angle-left'></i>",
            "<i class='fa fa-angle-right'></i>"
        ],
    });

    $(".portfolio-carousel").owlCarousel({
        singleItem: true,
        navigation: true,
        pagination: false,
        navigationText: [
            "<i class='fa fa-angle-left'></i>",
            "<i class='fa fa-angle-right'></i>"
        ],
        autoHeight: true,
        mouseDrag: false,
        touchDrag: false,
        transitionStyle: "fadeUp"
    });

    $(".testimonials-carousel, .mockup-carousel").owlCarousel({
        singleItem: true,
        navigation: true,
        pagination: true,
        autoHeight: true,
        navigationText: [
            "<i class='fa fa-angle-left'></i>",
            "<i class='fa fa-angle-right'></i>"
        ],
        transitionStyle: "backSlide"
    });

    $(".portfolio-gallery").owlCarousel({
        items: 3,
    });

    // Magnific Popup jQuery Lightbox Gallery Settings
    $('.gallery-link').magnificPopup({
        type: 'image',
        gallery: {
            enabled: true
        },
        image: {
            titleSrc: 'title'
        }
    });

    $('.mix').magnificPopup({
        type: 'image',
        image: {
            titleSrc: 'title'
        }
    });


    // Portfolio Filtering Scripts & Hover Effect
    var filterList = {
        init: function() {

            // MixItUp plugin
            $('#portfoliolist').mixItUp();

        },

    };

    filterList.init();

})(jQuery); // End of use strict

</script>
</body>