<p><%= @form_contact.name %> just submited a contact form.</p>

<p>Email Address: <%= @form_contact.email %></p>
<p>Phone: <%= @form_contact.phone %></p>
<p>Email: <%= @form_contact.zip_code %></p>
<p>Email: <%= @form_contact.message %></p>
<p>Created At: <%= @form_contact.created_at %></p>